<?xml version="1.0" encoding="utf-8"?>
<KDSolution xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" Id="e3fb8612-01c8-4ea1-977f-fb3df5d5074c">
  <DevView>Standard</DevView>
  <OutTargetBaseDir>
  </OutTargetBaseDir>
  <TopClass>27ddc008-7442-4b63-9aaf-917bd9f7b4e0</TopClass>
  <ProjectRefPath>C:\Program Files (x86)\Kingdee\K3Cloud\BAHSolution\K3Cloud\bin</ProjectRefPath>
  <IsAutoCheckIn>1</IsAutoCheckIn>
  <IsStartScc>1</IsStartScc>
  <LastExpandPackageNodeID>-1</LastExpandPackageNodeID>
  <SCCCfg>
  </SCCCfg>
</KDSolution>